    <footer class="bg-white text-black py-16 border-t border-naranja-300">
        <div class="container mx-auto flex flex-wrap justify-between items-start px-4">
            <!-- Footer Left -->
            <div class="flex flex-col items-start justify-between w-full sm:w-auto space-y-8 mb-8 sm:mb-0">
                <img class="w-32" src="../src/assets/images/logo-naranja.svg" alt="Logo Cookfest">
                <div class="flex space-x-4">
                    <a href="#" class="hover:text-gray-400"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="hover:text-gray-400"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="hover:text-gray-400"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="hover:text-gray-400"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <!-- Footer Columns -->
            <div class="flex flex-wrap sm:flex-nowrap space-x-0 sm:space-x-8 w-full sm:w-auto justify-between sm:justify-start">
                <!-- Column 1 -->
                <div class="w-full sm:w-auto mb-8 sm:mb-0">
                    <h3 class="font-bold mb-2">Secciones</h3>
                    <ul>
                        <li><a href="index.html" class="hover:text-gray-400">Participantes</a></li>
                        <li><a href="novedades.html" class="hover:text-gray-400">Novedades</a></li>
                        <li><a href="#" class="hover:text-gray-400">Galería</a></li>
                    </ul>
                </div>
                <!-- Column 2 -->
                <div class="w-full sm:w-auto mb-8 sm:mb-0">
                    <h3 class="font-bold mb-2">Ganadores</h3>
                    <ul>
                        <li><a href="#" class="hover:text-gray-400">Sofía González</a></li>
                        <li><a href="#" class="hover:text-gray-400">Marta Hernández</a></li>
                        <li><a href="#" class="hover:text-gray-400">Alejandro Fuertes</a></li>
                    </ul>
                </div>
                <!-- Column 3 -->
                <div class="w-full sm:w-auto mb-8 sm:mb-0">
                    <h3 class="font-bold mb-2">Ediciones</h3>
                    <ul>
                        <li><a href="#" class="hover:text-gray-400">2023</a></li>
                        <li><a href="#" class="hover:text-gray-400">2022</a></li>
                        <li><a href="#" class="hover:text-gray-400">2021</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>