<!-- Navegación artículos -->
<ul class="flex space-x-4 justify-center pt-16 pb-24">
  <li><a href="#inicio" class="py-3 px-4 rounded-lg hover:bg-violeta-300 hover:text-white transition border hover:border-violeta-300 border-violeta-300"><i class="fa-solid fa-arrow-left" style="color: #884ab2;"></i></a></li>
  <li><a href="index.html" class="text-violeta-600 font-medium py-3 px-4 rounded-lg hover:bg-violeta-600 hover:text-white transition border hover:border-violeta-600 border-violeta-300">Inicio</a></li>
  <li><a href="articulo.html" class="py-3 px-4 rounded-lg hover:bg-violeta-300 hover:text-white transition border hover:border-violeta-300 border-violeta-300"><i class="fa-solid fa-arrow-right" style="color: #884ab2;"></i></a></li>
</ul>